*{
    padding: 0;
    margin: 0;
    color: #FCEFF9;
    transition: 0.5s;
}
body {
    background-color: #454851;
}

.container {
    width: 70%;
    margin: auto;
}
.pageTitle {
    text-align: center;
    margin: 30px 0;
}

.toDoList {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #73956F;
    min-height: 660px;
    border-radius: 33px;
}

.toDoInput {
    width: 50%;
    background-color: #FCEFF9;
    border: 2px solid #95D7AE;
    border-radius: 5px;
    color: #454851;
    outline: none;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}

.toDoElements {
    margin-top: 50px;
    width: 80%;
}
li {
    display: block;
}
.toDoItem {
    display: flex;
    margin-top: 10px;
    border: 2px solid #7BAE7F;
    border-radius: 5px;
    padding: 10px;
    background-color: #95D7AE;
    word-wrap: break-word;
}
.toDoItem .value {
    color: #454851;
    font-size: 18px;
    margin-left: 10px;
    width: 90%;
}
.toDoItem input {
    width: 5%;
    border: 12px solid #7BAE7F;
    height: 20px;
}
.todoText {
    color: #454851;
}
.strikeText {
    color: #454851;
    font-size: 18px;
    margin-left: 10px;
    width: 90%;
    text-decoration: line-through;
}
.deleteTodo {
    width: 5%;
    margin-left: 3px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
.deleteTodo span {
    position: absolute;
}
.deleteTodo span:before,
.deleteTodo span:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #454851;
}
.deleteTodo span:before {
    transform: rotate(45deg);
}

.deleteTodo span:after {
    transform: rotate(-45deg);
}